<!doctype html>
    <head>
        <title>Error: {% block title %}{% endblock %}</title>
    </head>
    <body>    
    
        <div class="page">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
