{% extends "layouts/error.html" %}

{% block title %}
	404 Page not found
{% endblock %}

{% block body %}

	<h1>Page not found</h1>
	<p>We couldn't locate the specific page you were looking for. Please go to the <a href="{{ url_for('public.start') }}">Homepage</a></p>

{% endblock %}