{% extends "layouts/base.html" %}
	{% block title %}
		Send Message
	{% endblock %}

{% block body %}
	<h2>Send Message</h2>
	<form action="" method="POST">
	<table>
		{{ form.hidden_tag() }}
		{% for field in form if field.widget.input_type != 'hidden' %}
		<tr>
		  <td>{{ field.label }}</td>
		  <td>{{ field }}</td>
		  {% if field.errors %}
		  <td>
		  <ul class="errors">
		    {% for error in field.errors %}
		    <li>{{ error }}</li>
		    {% endfor %}
		  </ul>
		  {% endif %}
		  </td>
		</tr>
		{% endfor %}

	</table>
		<p><input type="submit" value="Send" name="send_message.submit" /></p>
	</form>
	
{% endblock %}