{% extends "layouts/base.html" %}
	{% block title %}
		Send Message
	{% endblock %}

{% block body %}
	<h2>Viewing messages for user {{ session.auth_user.firstname }} {{ session.auth_user.lastname }}</h2>
	{% if messages %}
	<ul>
		{% for message in messages %}
			<li><em>{{ message.body }}</em> sent by <em>{{ message.username }}</em> at {{ message.created }}</li>
		{% endfor %}
	</ul>
	{% else %}
		<p>There are no messages available to display</p>
	{% endif %}

{% endblock %}