{% extends "layouts/base.html" %}

{% block body %}
	<h1>Contact Page</h1>
	<form action="" method="POST" accept-charset="utf-8">

		<table>
		{% for field in form %}

		<tr>
		  <th>{{ field.label }}</th>
		  <td>{{ field }}</td>
		  {% if field.errors %}
		  <td>
		  <ul class=errors>
		    {% for error in field.errors %}
		    <li>{{ error }}</li>
		    {% endfor %}
		  </ul>
		  {% endif %}
		  </td>
		</tr>
		{% endfor %}
		</table>


		<p><input type="submit" value="Send Message" name="contact.submit"/></p>
	</form>
{% endblock %}