{% extends "layouts/base.html" %}

{% block body %}
	<h1>Sign Up</h1>
	
	<form action="" method="POST" accept-charset="utf-8">

		<table>
		{{ form.hidden_tag() }}
		{% for field in form if field.widget.input_type != 'hidden' %}

		<tr>
		  <th>{{ field.label }}</th>
		  <td>{{ field }}</td>
		  {% if field.errors %}
		  <td>
		  <ul class="errors">
		    {% for error in field.errors %}
		    <li>{{ error }}</li>
		    {% endfor %}
		  </ul>
		  {% endif %}
		  </td>
		</tr>
		{% endfor %}
		</table>


		<p><input type="submit" value="Sign Up"/></p>
	</form>

{% endblock %}